@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$font1: 'Inter', sans-serif;
$font2: 'Garet', serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    header {
        .navbar {
            display: flex;
            background-color: #d3b696;

            .LogoYTitulo {
                display: flex;
                align-items: center;

                .logo {
                    padding: 10px 20px;
                    width: 100px;
                }

                .TituloNav {
                    margin: 0;
                    font-family: $font2;
                    font-size: 25px;
                    color: #f4f0ef;
                }
            }

            .NavCompleto {
                padding-right: 50px;
            }

            .nav-item {
                .nav-link {
                    text-decoration: none;
                    font-size: 20px;
                    color: inherit;
                    color: #f4f0ef;
                    font-family: $font2;
                }

            }
        }
    }

    main {
        .Calendar {
            padding: 20px;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
    body {
        header {
            .navbar {
                .LogoYTitulo {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a .logo {
                        width: 80px;
                    }

                    h1.TituloNav {
                        font-size: 18px;
                    }
                }

                ul.NavCompleto {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0px;

                    .nav-item a.nav-link {
                        font-size: 16px;
                    }
                }
            }
        }

        main {
            .Calendar {
                padding: 0px;
            }
        }
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
    body {
        header {
            .navbar {
                .LogoYTitulo {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    a .logo {
                        width: 100px;
                    }

                    h1.TituloNav {
                        font-size: 22px;
                    }
                }

                ul.NavCompleto {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0px;

                    .nav-item a.nav-link {
                        font-size: 18px;
                    }
                }
            }
        }

        main {
            .Calendar {
                padding: 10px;
            }
        }
    }
}